<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:s="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!--  Faire très attention à l'ordre des règles !!! -->
    <s:http auto-config="true" use-expressions="true" >
     	<s:intercept-url pattern="/login" access="permitAll"/>
     	<s:intercept-url pattern="/redirection" access="isAuthenticated()"/>
     	<s:intercept-url pattern="/helpdesk/**" access="hasRole('ROLE_HELPDESK') or hasRole('ROLE_ADMIN')" /> 
     	<s:intercept-url pattern="/groupmanager/**" access="hasRole('ROLE_GROUPMANAGER') or hasRole('ROLE_ADMIN')" />
     	<s:intercept-url pattern="/user/**" access="isAuthenticated()" />
        <s:intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>
                    
        <s:form-login login-page="/login" username-parameter="username" password-parameter="password" default-target-url="/redirection" always-use-default-target="true"/>
		<s:logout logout-success-url="/login" invalidate-session="true" delete-cookies="JSESSIONID" />
        <s:anonymous />
    </s:http>


    <!-- Simple namespace-based configuration -->
    <s:ldap-server url="ldap://localhost:10389/dc=example,dc=com"
    			   manager-dn="uid=admin,ou=system" 
    			   manager-password="secret"/>

    <s:authentication-manager>
        <s:ldap-authentication-provider
            group-search-filter="member={0}"
            group-search-base="ou=groups"
            user-search-base="ou=users"
            user-search-filter="cn={0}"
            group-role-attribute="cn"
            role-prefix="ROLE_"
        />
    </s:authentication-manager>

    <!-- Traditional Bean version of the same configuration -->

    <!-- This bean points at the embedded directory server created by the ldap-server element above -->
    
    <bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
        <constructor-arg value="ldap://localhost:10389/dc=example,dc=com"/>
        <property name="dirObjectFactory" value="org.springframework.ldap.core.support.DefaultDirObjectFactory"/>
    </bean>

    <bean id="secondLdapProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <constructor-arg>
            <bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <constructor-arg ref="contextSource" />
                <property name="userSearch">
                    <bean id="userSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
                      <constructor-arg index="0" value="ou=users"/>
                      <constructor-arg index="1" value="(uid={0})"/>
                      <constructor-arg index="2" ref="contextSource" />
                    </bean>
                </property>
            </bean>
        </constructor-arg>
        
        <constructor-arg>
            <bean class="org.springframework.security.ldap.userdetails.DefaultLdapAuthoritiesPopulator">
                <constructor-arg ref="contextSource" />
                <constructor-arg value="ou=groups" />
                <property name="groupSearchFilter" value="(member={0})"/>
                <property name="rolePrefix" value="ROLE_"/>
                <property name="searchSubtree" value="true"/>
                <property name="convertToUpperCase" value="true"/>
            </bean>
        </constructor-arg>
    </bean>
    
    <bean id="ldapTemplate"
      class="org.springframework.ldap.core.LdapTemplate">
      <constructor-arg ref="contextSource" />
   </bean>
    
    <bean id="personDao"
      class="com.miage.SecuLDAP.DAO.PersonDaoImpl">
      <property name="ldapTemplate" ref="ldapTemplate" />
   </bean>
</beans>