<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:s="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<s:global-method-security pre-post-annotations="enabled"/>
	
	<!--  Faire très attention à l'ordre des règles !!! -->
    <s:http auto-config="true" use-expressions="true" >
     	<s:intercept-url pattern="/login" access="permitAll"/>
     	<s:intercept-url pattern="/redirection" access="isAuthenticated()"/>
     	<s:intercept-url pattern="/helpdesk/**" access="hasRole('ROLE_HELPDESK') or hasRole('ROLE_ADMIN')" /> 
     	<s:intercept-url pattern="/groupmanager/**" access="hasRole('ROLE_GROUPMANAGER') or hasRole('ROLE_ADMIN')" />
     	<s:intercept-url pattern="/user/**" access="isAuthenticated()" />
        <s:intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>
                    
        <s:form-login login-page="/login" username-parameter="username" password-parameter="password" default-target-url="/redirection" always-use-default-target="true"/>
		<s:logout logout-success-url="/login" invalidate-session="true" delete-cookies="JSESSIONID" />
        <s:anonymous />
    </s:http>


    <!-- Configuration du serveur LDAP pour Spring Security -->
    <s:ldap-server url="ldap://localhost:10389/dc=example,dc=com"
    			   manager-dn="uid=admin,ou=system" 
    			   manager-password="secret"/>

    <s:authentication-manager>
        <s:ldap-authentication-provider
            group-search-filter="member={0}"
            group-search-base="ou=groups"
            user-search-base="ou=users"
            user-search-filter="cn={0}"
            group-role-attribute="cn"
            role-prefix="ROLE_"
        />
    </s:authentication-manager>

    <!-- Configuration du serveur LDAP pour Spring LDAP -->
    
    <bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
        <property name="url" value="ldap://localhost:10389"/>
        <property name="userDn" value="uid=admin,ou=system"/>
        <property name="password" value="secret"/>
        <property name="pooled" value="false"/>
    </bean>
    
    <bean id="ldapTemplate"
      class="org.springframework.ldap.core.LdapTemplate">
      <constructor-arg ref="contextSource" />
   </bean>
   
</beans>